<section id="cards"><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Card&quot;,&quot;src&quot;:&quot;### Lorem\n\nIpsum *Dolor*&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;23880416-c4fe-45fd-99c0-60679b781855&quot;,&quot;props&quot;:{}}"><h2>Card</h2><h3>Lorem</h3>
<p>Ipsum <em>Dolor</em></p>
</div><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Card_1&quot;,&quot;src&quot;:&quot;### Lorem\n\nIpsum *Dolor*&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;97f25052-f414-487b-a972-93a1377b8883&quot;,&quot;props&quot;:{}}"><h2>Card_1</h2><h3>Lorem</h3>
<p>Ipsum <em>Dolor</em></p>
</div><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Card_2&quot;,&quot;src&quot;:&quot;### Lorem\n\nIpsum *Dolor*&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;a1548a54-f98a-457e-8132-aa51e1fae70e&quot;,&quot;props&quot;:{}}"><h2>Card_2</h2><h3>Lorem</h3>
<p>Ipsum <em>Dolor</em></p>
</div><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Card_3&quot;,&quot;src&quot;:&quot;### Lorem\n\nIpsum *Dolor*&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;bb87a044-c74b-4e3b-ac1a-e192a79e025c&quot;,&quot;props&quot;:{}}"><h2>Card_3</h2><h3>Lorem</h3>
<p>Ipsum <em>Dolor</em></p>
</div><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Card_4&quot;,&quot;src&quot;:&quot;### Lorem\n\nIpsum *Dolor*&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;f86cd49e-a728-4ad3-8b40-6c187357fd42&quot;,&quot;props&quot;:{}}"><h2>Card_4</h2><h3>Lorem</h3>
<p>Ipsum <em>Dolor</em></p>
</div></section>
