<div id="cards"><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Card&quot;,&quot;src&quot;:&quot;### Lorem\n\nIpsum *Dolor*&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;23880416-c4fe-45fd-99c0-60679b781855&quot;,&quot;props&quot;:{&quot;x&quot;:-455,&quot;y&quot;:216}}"><h2>Card</h2><h3>Lorem</h3>
<p>Ipsum <em>Dolor</em></p>
</div><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Card_1&quot;,&quot;src&quot;:&quot;### Lorem\n\nIpsum *Dolor*&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;97f25052-f414-487b-a972-93a1377b8883&quot;,&quot;props&quot;:{&quot;x&quot;:-519,&quot;y&quot;:423,&quot;width&quot;:269,&quot;height&quot;:127}}"><h2>Card_1</h2><h3>Lorem</h3>
<p>Ipsum <em>Dolor</em></p>
</div><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Заголовок&quot;,&quot;src&quot;:&quot;# Текстовая заметка кое о чём&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;a1548a54-f98a-457e-8132-aa51e1fae70e&quot;,&quot;props&quot;:{&quot;x&quot;:-465,&quot;y&quot;:605,&quot;width&quot;:440,&quot;height&quot;:221}}"><h2>Заголовок</h2><h1>Текстовая заметка кое о чём</h1>
</div><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Card_3&quot;,&quot;src&quot;:&quot;### Lorem\n\nIpsum *Dolor*&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;bb87a044-c74b-4e3b-ac1a-e192a79e025c&quot;,&quot;props&quot;:{&quot;x&quot;:174,&quot;y&quot;:343,&quot;width&quot;:252,&quot;height&quot;:130}}"><h2>Card_3</h2><h3>Lorem</h3>
<p>Ipsum <em>Dolor</em></p>
</div><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Возможные применения&quot;,&quot;src&quot;:&quot;1. Мозговые штурмы\n1. Структурирование информации\n1. Ведение заметок\n&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;f86cd49e-a728-4ad3-8b40-6c187357fd42&quot;,&quot;props&quot;:{&quot;x&quot;:-124,&quot;y&quot;:209,&quot;width&quot;:259,&quot;height&quot;:180}}"><h2>Возможные применения</h2><ol>
<li>Мозговые штурмы</li>
<li>Структурирование информации</li>
<li>Ведение заметок</li>
</ol>
</div><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Test Card&quot;,&quot;src&quot;:&quot;### Lorem\n\nIpsum *Dolor*&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;3bfa9e21-c975-42dd-a828-52d0764fb9ea&quot;,&quot;props&quot;:{&quot;x&quot;:-211,&quot;y&quot;:833,&quot;width&quot;:257,&quot;height&quot;:173}}"><h2>Test Card</h2><h3>Lorem</h3>
<p>Ipsum <em>Dolor</em></p>
</div><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Test Card_1&quot;,&quot;src&quot;:&quot;### Lorem\n\nIpsum *Dolor*&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;192e91af-0c1c-4aa7-a674-2e0c9e147ff3&quot;,&quot;props&quot;:{&quot;x&quot;:171,&quot;y&quot;:46,&quot;width&quot;:276,&quot;height&quot;:175}}"><h2>Test Card_1</h2><h3>Lorem</h3>
<p>Ipsum <em>Dolor</em></p>
</div><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Таблички Markdown&quot;,&quot;src&quot;:&quot;\n| 1 | 2 | 3 |\n|--|--|--|\n| a | b | c  |&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;1f62eb4c-6018-4374-9001-65e3dbdb699b&quot;,&quot;props&quot;:{&quot;x&quot;:-221,&quot;y&quot;:400,&quot;width&quot;:194,&quot;height&quot;:200}}"><h2>Таблички Markdown</h2><table>
<thead>
<tr>
<th>1</th>
<th>2</th>
<th>3</th>
</tr>
</thead>
<tbody>
<tr>
<td>a</td>
<td>b</td>
<td>c</td>
</tr>
</tbody>
</table>
</div><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Название проекта&quot;,&quot;src&quot;:&quot;# Cardister&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;af9f0e39-8b01-4248-a55b-b0aa0d705cc8&quot;,&quot;props&quot;:{&quot;x&quot;:-173,&quot;y&quot;:29,&quot;width&quot;:326,&quot;height&quot;:165}}"><h2>Название проекта</h2><h1>Cardister</h1>
</div><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Test Card_4&quot;,&quot;src&quot;:&quot;### Lorem\n\nIpsum *Dolor*&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;a439cedb-aa86-4485-9025-b7a627e39251&quot;,&quot;props&quot;:{&quot;x&quot;:57,&quot;y&quot;:732,&quot;width&quot;:132,&quot;height&quot;:175}}"><h2>Test Card_4</h2><h3>Lorem</h3>
<p>Ipsum <em>Dolor</em></p>
</div><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Test Card_5&quot;,&quot;src&quot;:&quot;### Lorem\n\nIpsum *Dolor*&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;903c31d9-e81f-4098-b550-e04896699056&quot;,&quot;props&quot;:{&quot;x&quot;:172,&quot;y&quot;:226,&quot;width&quot;:208,&quot;height&quot;:109}}"><h2>Test Card_5</h2><h3>Lorem</h3>
<p>Ipsum <em>Dolor</em></p>
</div><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Test Card_6&quot;,&quot;src&quot;:&quot;### Lorem\n\nIpsum *Dolor*&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;de4a190b-1221-43c7-bb2c-71689804e1dc&quot;,&quot;props&quot;:{&quot;x&quot;:27,&quot;y&quot;:501}}"><h2>Test Card_6</h2><h3>Lorem</h3>
<p>Ipsum <em>Dolor</em></p>
</div><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Test Card_7&quot;,&quot;src&quot;:&quot;### Lorem\n\nIpsum *Dolor*&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;2cee8108-e116-43d1-901f-074206fe2825&quot;,&quot;props&quot;:{&quot;x&quot;:-249,&quot;y&quot;:217,&quot;width&quot;:118,&quot;height&quot;:162}}"><h2>Test Card_7</h2><h3>Lorem</h3>
<p>Ipsum <em>Dolor</em></p>
</div><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Test Card_8&quot;,&quot;src&quot;:&quot;Во глубине сибирский руд<br />\nНемало бодхисаттв и будд.&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;c48bc195-65a3-49a7-a314-b510e4ccf58c&quot;,&quot;props&quot;:{&quot;x&quot;:-445,&quot;y&quot;:45,&quot;width&quot;:267,&quot;height&quot;:160}}"><h2>Test Card_8</h2><p>Во глубине сибирский руд<br>
Немало бодхисаттв и будд.</p>
</div><div class="card" data-card="{&quot;type&quot;:&quot;markdown&quot;,&quot;title&quot;:&quot;Test Card_9&quot;,&quot;src&quot;:&quot;### Lorem\n\nIpsum *Dolor*&quot;,&quot;tags&quot;:[],&quot;style&quot;:&quot;&quot;,&quot;id&quot;:&quot;3bfb1c5b-b4bc-49bd-be11-66cc41174bca&quot;,&quot;props&quot;:{&quot;x&quot;:241,&quot;y&quot;:505}}"><h2>Test Card_9</h2><h3>Lorem</h3>
<p>Ipsum <em>Dolor</em></p>
</div></div>