<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cardister</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base target="_blank">
</head>
<body>
  <span id="cardisterContainer">
<%= htmlWebpackPlugin.options.cards %>
<script type="data/json" id="settings">
  <%= htmlWebpackPlugin.options.comment %>
</script>
 </span>
</body>
</html>
