<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cardister</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base target="_blank">
  <style>
    html{
       visibility: hidden;
       opacity:0;
    }
  </style>
  <!--inline core CSS-->
  <style id="cardisterCustomCSS">
    .cardister-card-inverse{
      background-color: black;
      color: white;
    }
    .cardister-card-yellow{
      background-color: yellow;
    }
  </style>
  <style>
    html{
      visibility: visible;
      opacity: 1;
    }
  </style>
  <noscript>
    <style>
      #loader{
        display: none;
      }
    </style>
  </noscript>
</head>
<body>
<div id="loader"></div>
  <span id="cardisterContainer">
<%= htmlWebpackPlugin.options.cards %>
<script type="data/json" id="settings">
  <%= htmlWebpackPlugin.options.comment %>
</script>
<script id="cardisterCore">
  <%= htmlWebpackPlugin.options.script %>
</script>
 </span>
</body>
</html>
