@import "../colors/cardister.scss";
$overlayColor: rgba(0,0,0, 0.4);

.cardView{
  transform-origin: center center;
  box-sizing: border-box;
  // border: 1px solid $card_stroke;
  box-shadow: 0 0 4px rgba(0,0,0,.25);
  position: absolute;
  background-color: white;
  min-width: 64px;
  min-height: 64px;
  // border-radius: 4px;
  padding: 8px;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  margin:0px;
  &::after{
    display: block;
    position: absolute;
    left: 100%;
    top:100%;
    width: 16px;
    height: 32px;
    background-color: transparent;
    content: " ";
    pointer-events: none;
  }
  
  .titleBar{
    cursor: move;
    font-weight: bold;
    color: gray;
    box-sizing: content-box;
    padding: 4px 8px;
    // border-radius: 4px 4px 0 0;
     // height: 12px;
     width: 100%;
    margin:-8px -8px 8px -8px;
     background-color: transparent;
  }
  .cardTitle{
    font-weight: normal;
    margin: 0;
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 8px;
    flex-grow: 0;
  }
  .CardViewer{
    width:100%;
    flex-grow: 1;
    // background-color: silver;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: black silver;
    &::-webkit-scrollbar{
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-track{
      background: silver;
      border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: black;
      border-radius: 2px;
      
    }
    img{
      width: 100%;
      height: auto;
    }
  
  }
  .resizerCorner{
     box-sizing: border-box;
     fill: $overlayColor;
     width: 24px;
     height: 24px;
     position: absolute;
     right: 0;
     bottom: 0;
     cursor: nwse-resize;
     display: none;
     svg{
       pointer-events: none;
     }
  }
  .editModeBtn{
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 24px;
    height: 24px;
    padding: 2px;
    padding-bottom: 1px;
    padding-top: 2px;
    border-radius: 0 12px 0 0;
    background-color: transparent;
    display: none;
    cursor: pointer;
    fill: $overlayColor;
    svg{
      pointer-events: none;
    }
    // background-image: url(../icons/edit_black_24dp.svg);
  }
  &.locked{
    .titleBar{
      pointer-events: none;
    }
  }
  &.hovered{
    z-index: 100;
    .editModeBtn{
      display: block;
    }
    .resizerCorner{
      display: block;
    }
    .titleBar{
      background-color: $overlayColor;
      color: white;
    }
  }
}
