.cardView{
  transform-origin: center center;
  box-sizing: border-box;
  border: 1px solid gray;
  position: absolute;
  max-width: 450px;
  background-color: ivory;
  border-radius: 4px;
  padding: 8px;
  .titleBar{
    box-sizing: content-box;
    padding: 0 8px;
     height: 12px;
     width: 100%;
    margin:-8px -8px 0 -8px;
     background-color: #666;
     &:hover{
       background-color: maroon;
     }
  }
  h4{
    font-weight: normal;
  }
  
}
