.SettingsEditor{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 20000;
  width: 600px;
  height: 100vh;
  bottom: 0;
  top:0;
  padding: 16px;
  padding-bottom: 32px;
  background-color: white;
  box-shadow: 4px 0px 16px rgba(0,0,0,0.5);
  .tabheader{
    display: flex;
    flex-direction: row;
    .Tab{
      cursor: pointer;
      padding: 6px 8px;
      // border-width: 0;
      // transition: border-width .5s;
      &.selected{
        border-bottom: 2px solid black;
      }
    }
  }
  .tabcontent{
    margin-top: 24px;
    // background-color: silver;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

  }
  .actions{
    display: flex;
    flex-direction: row;
    margin:8px 0;
    *{
      display: block;
      margin-right:8px;
      &:last-child{
        margin-right: 0px;
      }
    }
  }

  .cssEditor{
    font-family: monospace;
    background-color: #03202d;
    border-radius: 4px;
    color: white;
    flex-grow: 1;
    overflow-y: auto;
  }

}

.TextInput , .TextArea{
  display:block;
  flex-grow: 1;

  label{
    display: block;
    font-size: 12px;
    flex-grow: 0;
  }
  input, textarea{
    padding: 4px 6px;
    width:100%;
    font-size: 1rem;
  }
}
.TextArea{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  label{
    flex-grow: 0;
  }
  textarea{
  flex-grow: 1;
}
}

.formRow{
  display: flex;
  flex-grow: 0;
  flex-direction: row;
  justify-content: stretch;
  margin-right: -8px;
  margin-bottom: 16px;
  *{
    margin-right: 8px;
  }
}
