@import "./colors/cardister.scss";

body, html{
  font-family: 'PT Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #222;
  background-color: white;
  min-height: 100%;
  padding: 0;
  margin:0;
  
  p{
     line-height: 140%;
  }
  *{
    box-sizing: border-box;
  }
}

.hidden{
  display: none;
}
table{
  border-collapse: collapse;
  td, th{
  border: 1px solid black;
  padding: 4px 8px;

  }
}

@keyframes loading{
  0% {content: "."}
  33% {content: ".."}
  66% {content: "..."}
  100% {content: "...."}
}
  #loader{
    position: fixed;
    background-color: $ui_background;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    opacity: 1;
    transition: opacity 1s;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    z-index: 100000;
    &:after{
      animation: loading 1s infinite alternate;
      display: block;
      content: "...";
    }
  }

