body, html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #444;
  background-color: white;
  p{
     line-height: 140%;
  }
}

.hidden{
  display: none;
}
