
@import "./colors/cardister.scss";

.cardisterUI{
  display: block;
  box-sizing: border-box;
  color: black;
  background-color: $ui_background;
   // padding: 2rem;
   // border: 1px solid red;
   // min-width: 100vw;
   width: 100%;
   min-height: 100vh;
   // overflow-y: auto;
   .innerUI{
     position:relative;
      margin-left: 50%;
      // min-width: 10%;
      width: 10px;
      min-height: 100vh;
      // background-color: silver;
      border-left: 2px dashed rgba(255,255,255,.3);
   }
}

#tooltip{
  box-sizing: border-box;
  padding: 2px 6px;
  background-color: $tooltip_bg;
  color: white;
  font-size: 12px;
  border-radius: 4px;
}

.HUDButton{
  svg{
    pointer-events: none;
  }
}
